/* variables*/
:root {
	--morado: #5E17EB;
	--black: #000;
	--text: #515151;
	--negrita: #1b1b1b;
	--line-height: 1.65em;
}

/*elementos globales o comunes*/


html {
	font-size: 62.5%;
	font-family: sans-serif;
	line-height: var(--line-height);
}

body {
	color: var(--text);
	font-size: 1.25rem;
	margin: 2.3em 4.3em 0em;
}

* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--negrita);
	font-size: 1.5em;
}

/* elementos especificos*/

header#cabezote-principal {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

header#cabezote-principal h1 {
	color: #5E17EB;
	font-size: 2.4em;
	font-weight: normal;
	margin-bottom: 0.6em;
	text-align: right;
	text-transform: uppercase;
	width: 100%;
}

header#cabezote-principal div#Cliente p span {
	display: block;
	text-transform: uppercase;
}

header#cabezote-principal div#Cliente p span:first-child {
	color: var(--morado);
}

header#cabezote-principal img {
	width: 140px;
}

#data-input {
	border-bottom: solid .25em #000;
	margin-bottom: 2em;
	padding: 1em;
}

#desc header {
	margin-top: 1em;
}

#desc header h2 {
	background-color: #000;
	color: white;
	padding: .5em;
}

#item-desc {
	border-collapse: collapse;
	width: 100%;
}

#item-desc .linea {
	border-bottom: solid .125em var(--text);
	height: calc(2*var(--line-height));

}

#item-desc .linea:nth-child(even) {
	background-color: lightgray;
}

#item-desc .linea .item-desc__price {
	font-weight: bold;
	text-align: right;

}

#item-desc .linea td[class^="item-desc__"] {
	padding: 1em;
}

#wrapper-total-descu {
	display: flex;
	justify-content: flex-end;
	margin-top: 1em;
}

#total-descu {
	border-collapse: collapse;
}

#total-descu .linea .total-desc__price {
	font-weight: bold;
	padding-right: 1.75em;
}

/*
#total-descu .linea td.total-desc__texto,
#total-descu .linea td.total-desc__price
*/
#total-descu [class^="total-desc__"] {
	background-color: var(--morado);
	color: white;
	padding: .75em;
}

#total-descu .total-desc__texto {
	padding-right: 2.25em;
	padding-left: 1.75em;
}

#formaDePago {
	/* colcoarle borde inferiorA*/
	margin-top: 1em;
}

#formaDePago ul li {
	padding: 1em;

	/* @media print {

body {
	background-color: aqua;
	}
	}