/* variables*/
:root {
	--morado: #5E17EB;
	--black: #000;
	--text: #515151;
	--negrita: #1b1b1b;
	--line-height: 1.65em;
}

/*elementos globales o comunes*/


html {
	font-size: 62.5%;
	font-family: sans-serif;
	line-height: var(--line-height);
}

body {
	color: var(--text);
	font-size: 1.25rem;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--negrita);
	font-size: 1.5em;
}


/**********************
 elementos especificos
***************************/

/* Main header*/
header#cabezote-principal {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

header#cabezote-principal h1 {
	color: #5E17EB;
	font-size: 2.4em;
	font-weight: normal;
	margin-bottom: 0.6em;
	text-align: right;
	text-transform: uppercase;
	width: 100%;
}

header#cabezote-principal div#Cliente p span {
	display: block;
	text-transform: uppercase;
}

header#cabezote-principal div#Cliente p span:first-child {
	color: var(--morado);
}

header#cabezote-principal img {
	width: 140px;
}




/*Main section descripcion*/

#data-input {
	border-bottom: solid .25em #000;
	margin-bottom: 2em;
	padding: 1em;
}

main {
	margin: 2.3em 4.3em;
}

#desc header {
	margin-top: 1em;
}

#desc header h2 {
	background-color: #000;
	color: white;
	padding: .5em;
}

#item-desc {
	border-collapse: collapse;
	width: 100%;
}

#item-desc .linea {
	border-bottom: solid .125em var(--text);
	height: calc(2*var(--line-height));

}

#item-desc .linea:nth-child(even) {
	background-color: lightgray;
}

#item-desc .linea .item-desc__price {
	font-weight: bold;
	text-align: right;
}

#item-desc .linea td[class^="item-desc__"] {
	padding: 1em;
}

#wrapper-total-descu {
	display: flex;
	justify-content: flex-end;
	margin-top: 2em;
}

#total-descu {
	border-collapse: collapse;
}

#total-descu .linea .total-desc__price {
	font-weight: bold;
	padding-right: 1.75em;
	text-align: right;
}

/*
#total-descu .linea td.total-desc__texto,
#total-descu .linea td.total-desc__price
*/
#total-descu [class^="total-desc__"] {
	background-color: var(--morado);
	color: white;
	padding: .75em;
}

#total-descu .total-desc__texto {
	padding-right: 2.75em;
	padding-left: 1.75em;
}



/*main section forma de pago*/

#formaDePago {
	/* colcoarle borde inferiorA*/
	margin-top: 3em;
}

#formaDePago ul {
	list-style: none;
}

#formaDePago li {
	position: relative;
	padding-left: 1.25em;
	margin: .5em 0;
}

#formaDePago ul li::before {
	background-color: var(--text);
	border-radius: 100%;
	content: " ";
	display: block;
	left: 0.25em;
	top: 0.65em;
	width: 0.5em;

	position: absolute;
	height: 0.5em;
	transform: translate(0, -50%);
}

.contenedor-borde {
	border-radius: 4em;
	overflow: hidden;
}

#wrapper-total-descu .contenedor-borde {
	border-radius: 1em;
}



/* footer - pie de pagina */
footer {
	position: sticky;
	top: 100vh;
}

footer .contenedor-borde {
	background: linear-gradient(to right, white, var(--morado), var(--black));
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 6em;
	margin-top: 3em;
}

@media print {
	#data-input {
		display: none;
	}

}